<a href="https://colab.research.google.com/github/sky16k/fps-3/blob/main/muX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #подключение библ pandas
pd.__version__

'1.3.5'

In [2]:
df = pd.DataFrame()
kubik = 1000
df['val'] = list(range(1,kubik+1))
df['pr'] = 1/kubik
df

      val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]

In [3]:
#
#df2 = pd.DataFrame()
#df2['val'] = list(range(1,7))
#df2['pr'] = 1/6
#df2

In [4]:
df

      val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]

'''
mx = 0    #обнуляем счетчик мат.ож.
for i in range(6):
  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента
mx
'''

In [5]:
def MatExp(val,pr):
  mx = 0
  for i in range(len(val)):
    mx += val[i] * pr[i]  #добавляем значение для следующего элемента
  return mx

In [6]:
MatExp(df['val'],df['pr'])

500.5

In [7]:
'''
df2 = df
print(df)
print(df2)
'''

'\ndf2 = df\nprint(df)\nprint(df2)\n'

In [8]:
mx1 = MatExp(df['val'],df['pr'])
print(mx1)

500.5

In [9]:
#mx1 = MatExp(df)
print(mx1)
#df2 = pd.DataFrame()
print('1',df)
#print(df2)
df2 = pd.DataFrame()
df2['val'] = df['val']
df2['pr'] = df['pr']
#df2['val'] = list(range(1,7))
#df2['pr'] = 1/6
print('1',df)
print('2',df2)
df2['val'] -= mx1  #вычесть из каждого значения mx1
print('1',df)
print('2',df2)

500.5
1       val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]
1       val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]
2       val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]
1       val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]
2        val     pr
0   -499.5  0.001
1   -498.5  0.001
2   -497.5  0.001
3   -496.5  0.001
4   -495.5  0.001
..     ...    ...
995  495.5  0.001
996  496.5  0.001
997  497.5  0.001
998  498.5  0.001
999  499.5  0.001

[1000 rows x 2 columns]

In [10]:
df2['val'] **= 2  #возвести каждое значение в квадрат
print(df)
print(df2)

      val     pr
0       1  0.001
1       2  0.001
2       3  0.001
3       4  0.001
4       5  0.001
..    ...    ...
995   996  0.001
996   997  0.001
997   998  0.001
998   999  0.001
999  1000  0.001

[1000 rows x 2 columns]
           val     pr
0    249500.25  0.001
1    248502.25  0.001
2    247506.25  0.001
3    246512.25  0.001
4    245520.25  0.001
..         ...    ...
995  245520.25  0.001
996  246512.25  0.001
997  247506.25  0.001
998  248502.25  0.001
999  249500.25  0.001

[1000 rows x 2 columns]

In [11]:
mu2 = MatExp(df2['val'],df2['pr'])  
mu2

83333.25000000001

In [12]:
mu = MatExp((df['val']-MatExp(df['val'],df['pr']))**2,df['pr']  )
print(mu)

83333.25000000001

In [13]:
def mux(factor,val,pr):
    u = MatExp((val-MatExp(val,pr))**factor,pr)
    return u

In [14]:
mux(0,df['val'],df['pr'])

1.0000000000000007

In [15]:
mux(1,df['val'],df['pr'])

-2.886579864025407e-15

In [16]:
mux(2,df['val'],df['pr'])

83333.25000000001

In [17]:
mux(3,df['val'],df['pr'])

0.0

In [18]:
mux(4,df['val'],df['pr'])

12499958333.36249

In [19]:
mux(5,df['val'],df['pr'])

-0.00025177001953125

In [20]:
mux(6,df['val'],df['pr'])

2232127232179315.2

In [22]:
'''
df['val'] = list(range(1,7))
df['pr'] = 1/6
print(df)
print(df2)
'''

"\ndf['val'] = list(range(1,7))\ndf['pr'] = 1/6\nprint(df)\nprint(df2)\n"