<a href="https://colab.research.google.com/github/sky16k/fps-3/blob/main/muX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #подключение библ pandas

In [ ]:
df = pd.DataFrame()
df['val'] = list(range(1,7))
df['pr'] = 1/6
df

   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667

In [ ]:
df

   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667

'''
mx = 0    #обнуляем счетчик мат.ож.
for i in range(6):
  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента
mx
'''

In [ ]:
'''
mx = 0    #обнуляем счетчик мат.ож.
for i in range(6):
  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента
mx
'''

"\nmx = 0    #обнуляем счетчик мат.ож.\nfor i in range(6):\n  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента\nmx\n"

In [ ]:
'''
mx = 0    #обнуляем счетчик мат.ож.
for i in range(6):
  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента
mx
'''

"\nmx = 0    #обнуляем счетчик мат.ож.\nfor i in range(6):\n  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента\nmx\n"

In [ ]:
def MatExp(data):
  mx = 0
  for i in range(len(data)):
    mx += data.at[i,'val'] * data.at[i,'pr']  #добавляем значение для следующего элемента
  return mx

In [ ]:
MatExp(df)

3.5

In [ ]:
df2 = df
print(df)
print(df2)

   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667
   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667

In [ ]:
mx1 = MatExp(df)
print(mx1)

3.5

In [ ]:
#mx1 = MatExp(df)
print(mx1)
df2 = df
df2['val'] = df2['val'] - mx1
print(df)
print(df2)

3.5
   val        pr
0 -2.5  0.166667
1 -1.5  0.166667
2 -0.5  0.166667
3  0.5  0.166667
4  1.5  0.166667
5  2.5  0.166667
   val        pr
0 -2.5  0.166667
1 -1.5  0.166667
2 -0.5  0.166667
3  0.5  0.166667
4  1.5  0.166667
5  2.5  0.166667

In [ ]:
mu2 = MatExp(df2**2)
mu2

0.4861111111111111

In [ ]:
df**2

    val        pr
0  6.25  0.027778
1  2.25  0.027778
2  0.25  0.027778
3  0.25  0.027778
4  2.25  0.027778
5  6.25  0.027778