<a href="https://colab.research.google.com/github/sky16k/fps-3/blob/main/muX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #подключение библ pandas
pd.__version__

'1.3.5'

In [2]:
df = pd.DataFrame()
df['val'] = list(range(1,7))
df['pr'] = 1/6
df

   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667

In [3]:
df

   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667

'''
mx = 0    #обнуляем счетчик мат.ож.
for i in range(6):
  mx = mx + df.at[i,'val'] * df.at[i,'pr']  #добавляем значение для следующего элемента
mx
'''

In [4]:
def MatExp(data):
  mx = 0
  for i in range(len(data)):
    mx += data.at[i,'val'] * data.at[i,'pr']  #добавляем значение для следующего элемента
  return mx

In [5]:
MatExp(df)

3.5

In [6]:
'''
df2 = df
print(df)
print(df2)
'''

'\ndf2 = df\nprint(df)\nprint(df2)\n'

In [7]:
mx1 = MatExp(df)
print(mx1)

3.5

In [8]:
#mx1 = MatExp(df)
print(mx1)
#df2 = pd.DataFrame()
print('1',df)
#print(df2)
df2 = df
#df2['val'] = list(range(1,7))
#df2['pr'] = 1/6
print('1',df)
print('2',df2)
df2['val'] = df2['val'] - mx1  #вычесть из каждого значения mx1
print('1',df)
print('2',df2)

3.5
1    val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667
1    val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667
2    val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667
1    val        pr
0 -2.5  0.166667
1 -1.5  0.166667
2 -0.5  0.166667
3  0.5  0.166667
4  1.5  0.166667
5  2.5  0.166667
2    val        pr
0 -2.5  0.166667
1 -1.5  0.166667
2 -0.5  0.166667
3  0.5  0.166667
4  1.5  0.166667
5  2.5  0.166667

In [9]:
df2['val'] **= 2  #возвести каждое значение в квадрат
print(df)
print(df2)

    val        pr
0  6.25  0.166667
1  2.25  0.166667
2  0.25  0.166667
3  0.25  0.166667
4  2.25  0.166667
5  6.25  0.166667
    val        pr
0  6.25  0.166667
1  2.25  0.166667
2  0.25  0.166667
3  0.25  0.166667
4  2.25  0.166667
5  6.25  0.166667

In [10]:
mu2 = MatExp(df2)  
mu2

2.9166666666666665

In [11]:
df['val'] = list(range(1,7))
df['pr'] = 1/6
print(df)
print(df2)

   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667
   val        pr
0    1  0.166667
1    2  0.166667
2    3  0.166667
3    4  0.166667
4    5  0.166667
5    6  0.166667